<h1>El backend está {{status}}</h1>

<h2>Creación de usuario</h2>
<form (submit)="enviarUsuario($event)" id="usuarios-formulario">
	<fieldset>
		<input type="hidden" name="ID">
		<label class="row">
			<span class="col-1 is-center">Nombre completo</span>
			<input type="text" name="nombreCompleto" placeholder="Nombre completo" required class="col"  value="asd">
		</label>
		<label class="row">
			<span class="col-1 is-center">DNI</span>
			<input type="number" name="DNI" placeholder="DNI" required class="col"  onclick="this.value=Math.trunc(Math.random()*10**6)">
		</label>
		<label class="row">
			<span class="col-1 is-center">Nombre de usuario</span>
			<input type="text" name="nombreUsuario" placeholder="Nombre de usuario" required class="col"  value="asd">
		</label>
		<label class="row">
			<span class="col-1 is-center">Contraseña</span>
			<input type="password" name="contrasenia" placeholder="Contraseña" required class="col"  value="asd">
		</label>
		<label class="row">
			<span class="col-1 is-center">Repetir contraseña</span>
			<input type="password" id="contrasenia2" placeholder="Repetir contraseña" required class="col"  value="asd">
		</label>
		<label class="row">
			<span class="col-1 is-center">Correo electrónico</span>
			<input type="email" name="correo" placeholder="Correo electrónico" required class="col"  value="asd@asd.asd">
		</label>
		<label class="row">
			<span class="col-1 is-center">Tokens</span>
			<input id="usuarios-formulario-tokens" type="number" name="tokens" placeholder="Cantidad de tokens" required class="col"  value="0">
		</label>
		<label class="row">
			<span class="col-1 is-center">Permisos</span>
			<fieldset id="usuarios-formulario-permisos">
				<label *ngFor="let permiso of permisos">
					<input value="{{permiso.ID}}" type=checkbox/>
					<span>{{permiso.descripcion}}</span>
				</label>
			</fieldset>
		</label>
		<div class="row">
			<input type="submit" [disabled]=esperando value="{{editando?'Editar':'Crear'}}" class="col-1">
			<input type="reset" [disabled]=esperando class="button error col-1 {{editando?'':'is-hidden'}}" (click)="cancelarEdicion()" value="Terminar">
		</div>
	</fieldset>
</form>

<hr>

<h2>Listado de usuarios:</h2>
<select id="usuarios-lista" [disabled]=editando (change)="limitarEnvioTokens($event)">
	<option *ngFor="let usuario of usuarios" value="{{usuario.ID}}">
		{{usuario.nombreCompleto+' ('+usuario.tokens+' tokens)'}}
	</option>
</select>

<!-- TODO componente de botón -->
<hr>

<button (click)="eliminarUsuario()" class="button primary" [disabled]=esperando><h2>Eliminar usuario elegido</h2></button>

<hr>

<button (click)="editarUsuario()" class="button primary" [disabled]=esperando><h2>Editar usuario elegido</h2></button>

<hr>

<h2>Enviar tokens</h2>
<form (submit)="enviarTokens($event)" id="tokens-formulario">
	<fieldset>
		<label class="row">
			<span class="col-1 is-center">Enviar tokens a:</span>
			<div class="col-11">
				<input type="text" placeholder=Filtrar class="col" (input)="actualizarListadoEnvio($event)">
				<select name="usuario" [disabled]=editando class="col">
					<option *ngFor="let usuario of usuariosEnvio" value="{{usuario.ID}}">
						{{usuario.nombreCompleto}}
					</option>
				</select>
			</div>
		</label>
		<label class="row">
			<span class="col-1 is-center">Cantidad de tokens</span>
			<input id=tokens-cantidad type="number" name="tokens" placeholder="Cantidad de tokens" required class="col" value="1" min="1" required>
		</label>
		<div class="row">
			<input type="submit" [disabled]=esperando value="Enviar" class="col-1">
		</div>
	</fieldset>
</form>
<!-- TODO componente de lista de usuario -->

<hr>

<button (click)="llenarDetalle()"  class="button primary">
	<h2>Consultar información detallada del usuario</h2>
</button>

<label class="row">
	<span class="col-1 is-center">Nombre completo</span>
	<span class="col-11" id="detalle-nombreCompleto"></span>
</label>
<label class="row">
	<span class="col-1 is-center">DNI</span>
	<span class="col-11" id="detalle-DNI"></span>
</label>
<label class="row">
	<span class="col-1 is-center">Nombre de usuario</span>
	<span class="col-11" id="detalle-nombreUsuario"></span>
</label>
<label class="row">
	<span class="col-1 is-center">Correo electrónico</span>
	<span class="col-11" id="detalle-correo"></span>
</label>
<label class="row">
	<span class="col-1 is-center">Tokens</span>
	<span class="col-11" id="detalle-tokens"></span>
</label>
<label class="row">
	<span class="col-1 is-center">Permisos</span>
	<ul id="detalle-permisos"></ul>
</label>